.nosotrosContainer {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
}

.containerPersona {
    display: grid;
    place-items: center;
    padding: 15px;
}

.imagenRow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
}

.subtituloImagen {
    font-size: 36px;
    margin-bottom: 10px;
    max-width: 400px;
    text-align: center;
    /* Otros estilos según sea necesario para el subtítulo */
}

.imagenWrapper {
    display: flex;
    text-align: center;
    margin: 10px 15px;
    padding: 10px 15px;
    max-height: 300px;
}

.imagenNombre {
    text-align: center;
}

.imagenRedonda {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.descripcionImagen {
    font-size: 17px;
    margin-left: 50px;
    max-width: 400px;
    text-align: left;
    margin-top: 0;
    overflow: visible;
    /* Otros estilos según sea necesario para la descripción */
}

.descripcionImagen p {
    margin-bottom: 5px;
    /* Ajusta según sea necesario para el espacio entre párrafos */
}

@media only screen and (max-width: 767px) {

    .nosotrosContainer {
        padding-bottom: 1rem;
    }
    

    .subtituloImagen {
        font-size: 20px;
        margin-bottom: 5px;
        max-width: none;
    }

    .imagenRow {
        padding-top: 0;
    }

    .imagenWrapper{
        max-height: none;
    }

    .imagenRedonda {
        width: 80px;
        height: 80px;
    }

    .descripcionImagen {
        font-size: 13px;
        margin-left: 25px;
    }
    
    .imagenNombre {
        text-align: center;
        font-size: 11px;
    }

}