.backgroundContainer {
    position: relative;
    height: 100vh;
}

.background {
    background-image: url('../../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.centeredDivContainer {
    position: absolute;
    width: 40%;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    /* Ajusta según sea necesario */
}

.centeredDiv {
    width: 100%;
    height: 40%;
    background: rgba(0, 0, 0, 0.85);
    padding: 3rem;
    /* Estilos adicionales según sea necesario */
}

.title {
    color: white;
    max-width: 500px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.5;
}

.line {
    height: 2px;
    background-color: #04c0d5;
    margin: 10px 0;
}

.subtitle {
    color: white;
    font-size: 30px;
    margin: 0;

}


.sectionContainer {
    text-align: center;
    padding: 5rem 2rem;
    /* Asegúrate de que el sectionContainer tenga un z-index mayor que el background */
    position: relative;
    /* Asegúrate de que el sectionContainer tenga posición relativa */
}


.sectionTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
    border-left: 3px solid #04c0d5;
    z-index: 2;
    /* Agrega un borde izquierdo celeste */
    padding-left: 10px;
    /* Espaciado del borde izquierdo */
    /* Alinea el título a la izquierda */
}


.sectionSubtitle {
    z-index: 2;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
    font-style: italic;
    /* Alinea el subtítulo a la izquierda */
}

.sectionParagraph {
    z-index: 2;
    font-size: 20px;
    /* Otros estilos según sea necesario */
}

.paragraph{
    display: inline;
}

.paragraphMobile{
    display: none;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    
    .title {
        max-width: none;
        font-size: 25px;
    }

    .centeredDivContainer {
        width: 350px;
        top: 40%;
    }

    .centeredDiv {
        height: auto;
        padding: 1.5rem;
        /* Estilos adicionales según sea necesario */
    }

    .subtitle {
        color: white;
        font-size: 20px;
    }

    .sectionTitle {
        font-size: 26px;
    }

    .sectionSubtitle {
        font-size: 18px;
        text-align: center;
    }

    .paragraph{
        display: none;
    }

    .paragraphMobile{
        display: block;
    }

    .backgroundContainer {
        position: relative;
        height: 100vh;
    }

    .sectionContainer {
        padding: 5rem 2rem;
        padding-bottom: 1rem;
    }

}