.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff !important;
    height: 5rem;
    max-height: 5rem;
    z-index: 1000;
    border-bottom: 2px solid #ddd; /* Color del borde inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto 3D */
}

.navigation {
    display: flex;
    align-items: center !important;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemNav {
    margin: 0 10px;
    text-decoration: none;
    list-style-type: none;
    z-index: 1000;
}

.bars{
    width: 20px;
    height: 20px;
}

.itemNavText {

    z-index: 1000;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3c4858;
    font-family: "Nunito", sans-serif;
    padding-left: 8px;
    padding-right: 8px;
}

.itemNavText:hover {
    color: #000;
}

.navContainer{
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;

    z-index: 1000;
}

.logo {
    color: #3c4858 !important;
    z-index: 1000;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0;
    letter-spacing: 1px;
    line-height: 68px;
}

.logoMobile {
    display: none;
}

.itemsMobile{
    display: none;
}

.optionsMobile{
    display: block;
    background-color: #ffffff;

    width: 100%;
}

@media only screen and (max-width: 767px) {

    .logo {
        display: none;
        /* Oculta el elemento con la clase "logo" en pantallas de tamaño celular */
    }

    .items{
        display: none;
    }

    .logoMobile {
        display: block;
        color: #3c4858 !important;
        z-index: 1000;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 24px;
        padding: 3px 0;
        letter-spacing: 1px;
        line-height: 68px;
    }

    .itemsMobile{
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .itemNav {
        margin: 0 10px;
        padding: 10px 0;
        text-decoration: none;
        list-style-type: none;
        z-index: 1000;
    }


}